<nav class="navbar">
    <div class="logo">
        <a href="index.html">
            <img src="/components/images/fabLabBlanco.png" alt="Fab Lab iFurniture Logo">
        </a>
    </div>
    <button class="navbar-toggle" id="navbar-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
    <ul class="nav-menu" id="nav-menu">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="nosotros.html">Nosotros</a></li>
        <li><a href="red-fab-lab.html">Red Fab Lab</a></li>
        <li><a href="proyectos.html">Proyectos</a></li>
        <li><a href="fab-service.html">Fab Service</a></li>
        <li><a href="eventos.html">Eventos</a></li>
        <li><a href="noticias.html">Noticias</a></li>
        <li><a href="contacto.html">Contacto</a></li>
    </ul>
</nav>